{
  "jsxSingleQuote": true,
  "printWidth": 80,
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "overrides": [
    {
      "files": ["recipes/**/*.*", "README.md"],
      "options": {
        "printWidth": 100
      }
    }
  ]
}
